.all-categories {
    color: #007aff !important;
    min-width: 100px;
    font-weight: bold !important;
    padding: 0 !important;
}

.head {
    border-bottom: lavender 1px solid;
    display: flex;
    justify-content: center;
}

.head-container {
    width: 1366px;
}

.head-container nav {
    padding-left: 0;
}